body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(2, 2, 2, 0.080),
            rgba(0, 0, 0, 0.080)), url(../img/wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    min-width: 230px;
    min-height: 100vh;
    font-family: "Madimi One", sans-serif;
}

.container_title {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 99%;

}

.container_title img {
    width: 110px;
    height: 110px;
    position: relative;
    top: 12px;
    left: 4px;
}

.titulo {
    color: #D2DE32;
    -webkit-text-stroke: 1px #ffffff;
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -5px;
}

.sub_titulo {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1px;
}

#container_subtitle {
    margin: 0;
    width: 99%;
}

.subtitulo {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

#select_mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 0px;

}

.tarjeta_de_mokepon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 126px;
    border: 4px solid #ffffff;
    background-image: linear-gradient(rgba(255, 255, 255, 0.582),
            rgba(114, 114, 114, 0.555)), url(../img/icono.png);
    background-position: center;
    background-size: cover;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    gap: 15px;
    border-radius: 50%;
}

.tarjeta_de_mokepon img {
    width: 70px;
    height: 70px;
}

.img_mascotas {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.tarjeta_de_mokepon p {
    padding: 0px;
    margin: 0px;
    font-weight: bold;

}

input {
    display: none;
}

input:checked+label {
    background-image: none;
    background-color: #D2DE32;
    border: 4px solid #ffffff;
}

#boton_mascota {
    margin-top: 30px;
    height: 35px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #ffffff;
    background-color: #D2DE32;
    font-weight: bold;
    border-radius: 50px;
    font-family: "Madimi One", sans-serif;
    font-size: 14px;
}

.container_buttom_ataques {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 10px;
}

#boton_fuego,
#boton_agua,
#boton_tierra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Madimi One", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 4px;
    height: 38px;
    width: 70px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #D2DE32;
    border: 2px solid #ffffff;


}

#select_ataque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;

}

#mensajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    background-color: #ffffff49;
    width: 420px;
    height: 70px;
    padding: 8px;
    border-radius: 12px;
    margin-bottom: 20px;
}

#mensajes p {
    margin: 0;
}


#reiniciar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boton_reiniciar {
    margin: 8px;
    height: 35px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    background-color: #D2DE32;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    font-family: "Madimi One", sans-serif;
    font-size: 15px;
}

#mascota_jugador,
#mascota_enemigo {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    margin: 0px 10px 10px 10px;
}

#vidas_jugador,
#vidas_enemigo {
    font-size: 24px;
    margin: 10px 10px 0px 10px;
    color: #ffffff;
}

.ataques {
    display: grid;
    grid-template-columns: 210px 210px;
    gap: 20px;
    color: #ffffff;
}

.ataques_jugador,
.ataques_enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00e6ff4d;
    border: 2px solid #d3de32;
    border-radius: 100px;
}

#ataques_del_jugador,
#ataques_del_enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ataques_del_jugador p,
#ataques_del_enemigo p {
    margin: 0px 0px 10px 0px;
}

#ver_mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#mapa {
    margin-bottom: 10px;
}

#ver_mapa button {
    margin: 3px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #ffffff;
    background-color: #D2DE32;
    font-weight: bold;
    border-radius: 50px;
    font-family: "Madimi One", sans-serif;
    font-size: 18px;
}


/* ----- EFECTOS HOVER ----- */

#boton_mascota:hover,
#boton_reiniciar:hover {
    transition: 0.5s ease-out;
    background-color: #A2C579;
    border-color: #A2C579;
}

.tarjeta_de_mokepon:hover {
    transition: 0.2s ease-out;
    cursor: pointer;
    background-image: none;
    background-color: #D2DE32;
    border-color: #ffffff;
}

#boton_fuego:hover {
    transition: 0.3s ease-out;
    border-color: #ffae00;
    background-color: #ffae00;
}

#boton_agua:hover {
    transition: 0.3s ease-out;
    border-color: #0099ff;
    background-color: #0099ff;
}

#boton_tierra:hover {
    transition: 0.3s ease-out;
    border-color: #00ff40;
    background-color: #00ff40;
}


/* ----- MEDIA QUERYS ----- */

@media (max-width: 575px) {
    #select_mascota {
        width: 80%;
    }

    .titulo {
        font-size: 40px;
    }

    .sub_titulo {
        font-size: 24px;
    }

    .container_title img {
        width: 80px;
        height: 80px;
    }

    .subtitulo {
        font-size: 20px;
    }

    .tarjeta_de_mokepon {
        width: 80px;
        height: 80px;
        font-size: 14px;
    }

    .tarjeta_de_mokepon img {
        width: 60px;
        height: 50px;
    }

}